@import 'variables';
.card-course-item {
    margin-top: 16px;
}
.user-avt {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 3px;
    padding-top: 3px;
}
.checkbox-select-all-options {
    width: 200px;
    margin: 0 16px;
}
